@charset 'utf-8';

 @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 

/*
@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR-Thin.eot), url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR-Light.eot), url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR-DemiLight.eot), url(../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular.eot), url(../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR-Medium.eot), url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR-Bold.eot), url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
*/


/* common */
html {
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
	/* overflow-y: auto; */
}
html, body {
	height: 100%;
}
body {
	background: #e9e1d6;
	color: #333333;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-family: "Noto Sans KR", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
	font-weight: 400;
	-webkit-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	overflow-x: hidden;

}
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="text"],
input[type="tel"],
button {
	font-family: "Noto Sans KR", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button {
	cursor: pointer;
	outline: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
iframe {
	display: block;
}
.blind {
	position: absolute; display: block; width: 1px; height: 1px; overflow: hidden; color: transparent; font-size: 1px; line-height: 1px; opacity: 0; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; filter: alpha(opacity=0);
}
/* common */

/* popup */

html.menu-opened body,
html.popup-opened body {
	overflow: hidden;
}
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgb(19, 23, 26);
	background: rgba(19, 23, 26, 0.26);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}
.popup-wrap, .popup {
	display: none;
}
.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup {
	position: relative;
	margin: 20px;
	vertical-align: middle;
	/*	line-height: 100%;*/
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	font-size: 16px;
/*
	-webkit-transform: scale(0);
	transform: scale(0);
*/
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	-webkit-box-shadow: 0px 0px 18px 1px #666;
	box-shadow: 0px 0px 18px 1px #666;
}
.popup .popup-close {
	position: absolute;
	top: 13px;
	right: 13px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: url(../images/popup_close.png) center / 14px 14px no-repeat #c93e8b;
}
.popup-wrap.is-opened .popup::before {
	-webkit-transform: scale(1);
	transform: scale(1);

}
.popup .btn-close {
	position: absolute;
	right: 0;
	top: 0;
	width: 29px;
	height: 29px;
	background: url(../images/popup_close.png) no-repeat;
	margin: 26px 28px 0 0;
}
.popup .button-area {
	cursor: pointer;
}
.popup > .inner {
	/* background: url(../images/popup/popup_bg.png) center no-repeat; */
	/* background-size: cover; */
	/* background-size: 100% 100%; */
	background: #fff;
}
.popup.winner {
/*	height: 448px;*/
	/* display: none; */
}
.popup.winner > .inner {
	height: 100%;
	/* padding: 102px 0 81px; */
}
.popup.winner .winner-wrap {
	text-align: center;
}
.popup.winner .winner-wrap .winner-area{
	/* margin-bottom: 27px; */
}
.popup.winner .winner-wrap .winner-area .confirm-btn{
	background: url(../images/popup_winner_confirm.png) center no-repeat;
	width: 219px;
	height: 58px;
	position: absolute;
	bottom: 147px;
	left: 50%;
	margin-left: -110px;
}

.popup.thanks {
/*	height: 448px;*/
	/* display: none; */
}
.popup.thanks > .inner {
	height: 100%;
	/* padding: 102px 0 81px; */
}
.popup.thanks .winner-wrap {
	text-align: center;
}
.popup.thanks .thanks-wrap .thanks-area{
	/* margin-bottom: 27px; */
}
.popup.thanks .thanks-wrap .thanks-area .button-area {
	position: absolute;
	bottom: 145px;
	left: 0;
	right: 0;
	font-size: 0;
	width: 100%;
	text-align: center;
}
.popup.thanks .thanks-wrap .thanks-area .confirm-btn{
	display: inline-block;
	background: url(../images/popup_thanks_confirm.png) center no-repeat;
	width: 153px;
	height: 56px;
	margin-left: 8px;
}
.popup.thanks .thanks-wrap .thanks-area .kakao-btn{
	display: inline-block;
	background: url(../images/popup_thanks_kakao.png) center no-repeat;
	width: 153px;
	height: 56px;
}
.popup.thanks .thanks-wrap .thanks-area .download-btn{
	display: inline-block;
	background: url(../images/popup_thanks_download.png) center no-repeat;
	width: 153px;
	height: 56px;
	margin-left: 8px;
}
.popup.agree1 {
/*	height: 556px;*/
	/* display: none; */
}
.popup.agree1 > .inner {
	height: 100%;
	/* padding: 102px 0 81px; */
}
.popup.agree1 .winner-wrap {
	text-align: center;
}
.popup.agree1 .agree1-wrap .agree1-area{
	/* margin-bottom: 27px; */
}
.popup.agree1 .agree1-wrap .agree1-area .button-area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 51px;
	font-size: 0;
	width: 100%;
	text-align: center;
}
.popup.agree1 .agree1-wrap .agree1-area .confirm-btn{
	display: inline-block;
	background: url(../images/popup_agree1_confirm.png) center no-repeat;
	width: 162px;
	height: 58px;
}
.popup.agree2 {
/*	height: 713px;*/
/*	width: 542px;*/
	/* display: none; */
}
.popup.agree2 > .inner {
	height: 100%;
	/* padding: 102px 0 81px; */
}
.popup.agree2 .winner-wrap {
	text-align: center;
}
.popup.agree2 .agree2-wrap .agree2-area{
	/* margin-bottom: 27px; */
}
.popup.agree2 .agree2-wrap .agree2-area .button-area {
	position: absolute;
	bottom: 51px;
	left: 0;
	right: 0;
	font-size: 0;
	width: 100%;
	text-align: center;
}
.popup.agree2 .agree2-wrap .agree2-area .confirm-btn{
	display: inline-block;
	background: url(../images/popup_agree1_confirm.png) center no-repeat;
	width: 162px;
	height: 58px;
}
.popup.kitlist {
	width: 658px;
	text-align: center;
}
.popup.kitlist .inner {
	padding: 60px 0 62px;
	background: url(../images/popup_kitlist_bg.jpg) center / cover no-repeat;
}
.popup.kitlist .title {
	margin-bottom: 31px;
}
.popup.kitlist .kit-slide-area {
	position: relative;
	display: block;
	width: 420px;
	margin: 0 auto;
}
.popup.kitlist .kit-slide-area .btn {
	position: absolute;
	top: 50%;
	margin-top: -26px;
}
.popup.kitlist .kit-slide-area .prev-button {
	left: -61px;
}
.popup.kitlist .kit-slide-area .next-button {
	right: -61px;
}
.popup.kitlist .slide-list {
	display: inline-block;
	margin-top: 24px;
}
.popup.kitlist .slide-list li {
	display: inline-block;
	position: relative;
	width: 39px;
	height: 39px;
	margin-right: 9px;
}
.popup.kitlist .slide-list li.is-active {
	-webkit-box-shadow: 0px 0px 0px 2px rgb(247, 159, 86);
	box-shadow: 0px 0px 0px 2px rgb(247, 159, 86);
	border-radius: 1px;
	
}
/*
.popup.kitlist .slide-list li.is-active:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
*/
.popup.kitlist .slide-list li img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.popup.kitlist .slide-list li:last-child {
	margin-right: 0;
}

.popup.picture {
	width: 705px;
	text-align: center;
}
.popup.picture > .inner {
	padding: 43px 0 59px;
	background: url(../images/popup_kitlist_bg.jpg) center / cover no-repeat;
}
.popup.picture .title {
	display: inline-block;
}
.popup.picture .pic-frame {
	position: relative;
	width: 408px;
	min-height: 230px;
	margin: 35px auto 17px;
	background: url(../images/frame_tl.png) 0 0 / 13px 14px no-repeat,
				url(../images/frame_tr.png) 100% 0 / 13px 14px no-repeat,
				url(../images/frame_br.png) 100% 100% / 13px 14px no-repeat,
				url(../images/frame_bl.png) 0 100% / 13px 14px no-repeat;
}
.popup.picture .pic-frame .inner {
	padding: 16px;
	width: 100%;
	height: 100%;
	position: relative;
}
.popup.picture .pic-frame #file-upload {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.popup.picture .pic-frame label {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.popup.picture .re-upload-btn {
	position: relative;
}
.popup.picture .re-upload-btn #re-upload {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.popup.picture .re-upload-btn label {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.popup.picture .btn {
	display: block;
	margin: 35px auto 0;
}

.popup.picture-input {
	width: 542px;
}
.popup.picture-input > .inner {
	padding: 46px 0;
	text-align: center;
	background: #f7f6f4;
}
.popup.picture-input .title img {
	width: auto;
}
.popup.picture-input .input-area {
	display: inline-block;
	width: 409px;
	margin: 24px auto 29px;
}
.popup.picture-input .input-area .input-group {
	width: 100%;
	position: relative;
	font-size: 0;
	height: 42px;
	margin-bottom: 7px;
	text-align: right;
	/*	overflow-x: hidden;*/
}
.popup.picture-input .input-area .input-group:last-child {
	margin-bottom: 0;
}
.popup.picture-input .input-area .input-group .guide {
	display: inline-block;
	position: relative;
	width: 124px;
	height: 42px;
	background: #f4892f;
	text-align: center;
	vertical-align: top;
}
.popup.picture-input .input-area .input-group .guide img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.popup.picture-input .input-area .input-group.name .guide img {width: 68px;}
.popup.picture-input .input-area .input-group.phone .guide img {width: 69px;}

.popup.picture-input .input-area .input-group .input {
	display: inline-block;
	width: 285px;
	height: 100%;
	vertical-align: top;
}
.popup.picture-input .input-area .input-group.phone .input input[type="tel"] {
	width: 87px;
	margin-right: 11px;
	text-align: center;
	padding-left: 0;
}
.popup.picture-input .input-area .input-group.phone .input input[type="tel"]:last-child {
	width: 88px;
	margin-right: 0;
}

.popup.picture-input .input-area .input-group .input input[type="text"],
.popup.picture-input .input-area .input-group .input input[type="tel"] {
	width: 100%;
	height: 100%;
	padding-left: 30px;
	text-align: left;
	vertical-align: middle;
	font-size: 19px;
	font-weight: 500;
	color: #3e301d;
	background: #ffffff;
	cursor: pointer;
}
.popup.picture-detail > .inner {
/*	padding: 22px 26px;*/
	padding: 25px 37px 25px 84px;
	font-size: 0;
	text-align: center;
}
.popup.picture-detail .img-area {
	display: inline-block;
	margin-right: 87px;
	vertical-align: top;
}
.popup.picture-detail .img-area img {
/*	max-width: 100%;*/
	max-width: 568px;
}
.popup.picture-detail .txt-area {
	display: inline-block;
	width: 314px;
	padding-top: 84px;
	text-align: left;
	vertical-align: top;
}
.popup.picture-detail .txt-area .name {
	border-bottom: 2px solid #3e301d;
	padding-bottom: 20px;
	font-size: 39px;
	color: #3e301d;
	letter-spacing: -0.65px;
}
.popup.picture-detail .txt-area .text {
	padding-top: 20px;
	font-size: 19px;
}
.popup.picture-detail .txt-area .text .tag {
	color: #00b4ff;
	margin-bottom: 5px;
	font-size: 0;
}
.popup.picture-detail .txt-area .text .tag span {
	display: inline-block;
	font-size: 19px;
	margin-right: 3px;
	letter-spacing: -0.65px;
	line-height: 24px;
}
.popup.picture-detail .txt-area .text .desc {
	color: #3e301d;
	letter-spacing: -0.65px;
	line-height: 24px;
	max-height: 375px;
	overflow: auto;
}
input[type="checkbox"] {
	position: absolute;
	/*
	top: 2px;
	right: 5px;
	*/
	font-size: 0;
	cursor: pointer;
	background: none;
	border: 0;
	/*	z-index: 3;*/
	/*
	width: 13px;
	height: 13px;
	*/
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: none;
}
.check .checkbox-visual {
	width: 100%;
	height: 100%;
	border: 3px solid #3e301d;
	background: #ffffff;
}
.check input[type="checkbox"]:checked + .checkbox-visual {
	background: url(../images/checked.png) center / 16px 14px no-repeat;
}
.popup.picture-input .terms-area {
	width: 317px;
	margin: 0 auto 32px;
}
.popup.picture-input .terms-area .row {
	overflow: hidden;
	margin-bottom: 11px;
}
.popup.picture-input .terms-area .row:last-child {
	margin-bottom: 0;
}
.popup.picture-input .terms-area .check {
/*	float: left;*/
/*	padding-top: 4px;*/
	text-align: left;
	font-size: 0;
	margin-bottom: 6px;
}
.popup.picture-input .terms-area .view {
/*	float: right;*/
	text-align: left;
}
.popup.picture-input .terms-area .check .checkbox {
	width: 21px;
	height: 21px;
	pointer-events: none;
}
.popup.picture-input .terms-area .check .checkbox-visual {
	display: inline-block;
	width: 21px;
	height: 21px;
	vertical-align: top;
}
.popup.picture-input .check input[type="checkbox"]:checked + .checkbox-visual {
	background: url(../images/checked.png) center / 16px 14px no-repeat #ffffff;
}
.popup.picture-input .terms-area .check label {
	display: inline-block;
	width: 268px;
	margin-left: 24px;
	padding-top: 1px;
	vertical-align: top;
	cursor: pointer;
}
.popup.picture-input .terms-area .row._2 .check label {
	width: 251px;
}
.popup.picture-input .terms-area img {
	width: 100%;
}
.popup.picture-input .terms-area .row .view button {
	width: 312px;
	height: 24px;
	background: url(../images/view_terms1.png) center / 177px 14px no-repeat #e8decf;	
}
.popup.picture-input .terms-area .row._2 .view button {
	background: url(../images/view_terms2.png) center / 162px 14px no-repeat #e8decf;
}
.popup.picture-input .input-area .input-group .input input::-webkit-input-placeholder {
	color: #9e978e;
	font-size: 19px;
	letter-spacing: -0.5px;
}
.popup.picture-input .input-area .input-group .input input:-ms-input-placeholder {
	color: #9e978e;
	font-size: 19px;
	letter-spacing: -0.5px;
}
.popup.picture-input .input-area .input-group .input input::placeholder {
	color: #9e978e;
	font-size: 19px;
	letter-spacing: -0.5px;
}

.popup.picture-result .btn {
	position: absolute;top: 233px;
	left: 50%;
	margin-left: -109px;
}
.popup.winner-list {
	width: 542px;
	text-align: center;
}
.popup.winner-list > .inner {
	padding: 54px 0 0 0;
	background: #f7f6f4;
}
.popup.winner-list .title {
	margin-bottom: 19px;
}
.popup.winner-list .input-wrap {
	display: inline-block;
	margin-bottom: 10px;
}
.popup.winner-list .input-wrap .input-group {
	width: 285px;
	position: relative;
}
.popup.winner-list .input-wrap .input-group input[type="text"] {
	width: 100%;
	height: 38px;
	background: #ffffff;
	padding-left: 14px;
}
.popup.winner-list .input-wrap .input-group .search-num {
	position: absolute;
	top: 0;
	right: 0;
	width: 43px;
	height: 38px;
	background: url(../images/find_obj.png) center / 27px auto no-repeat #f4892f;
}
.popup.winner-list .list-box {
	display: inline-block;
	width: 285px;
	height: 163px;
	padding: 21px 18px 21px 15px;
	background: #ffffff;
	box-sizing: border-box;
	position: relative;
}
.popup.winner-list .list-box .inner {
	height: 100%;
	overflow: scroll;
	text-align: left;
	font-size: 0;
}
.popup.winner-list .list-box .search-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	padding: 21px 18px 21px 15px;
	box-sizing: border-box;
	overflow: scroll;
	text-align: left;
	font-size: 0;
	display: none;
	background: #ffffff;
}
.popup.winner-list .list-box span {
	width: 50%;
	display: inline-block;
	font-size: 19px;
	letter-spacing: -0.27px;
	text-align: center;
	line-height: 25px;
	color: #7a7a7a;
}
.popup.winner-list .btn {
	width: 219px;
	height: 58px;
	margin: 11px auto 35px;
}
.popup.winner-list .guide-area {
	background: #e3d7c4;
	padding: 27px 0 30px;
}

.popup.verify-winner-list {
	width: 759px;
}
.popup.verify-winner-list .input-wrap {
	margin-bottom: 26px;
}
.popup.verify-winner-list .list-wrap {
	width: 655px;
	margin:  0 auto 27px;
/*	padding-top: 43px;*/
}
.popup.verify-winner-list .list-wrap .tab-wrap {
	text-align: center;
	font-size: 0;
}
.popup.verify-winner-list .list-wrap .tab-wrap .tab {
	display: inline-block;
	opacity: 0.4;
	cursor: pointer;
}
.popup.verify-winner-list .list-wrap .tab-wrap .tab.is-active {
	opacity: 1;
}
.popup.verify-winner-list .list-wrap .tab-wrap .tab:nth-child(2) {
	margin: 0 5px;
}
.popup.verify-winner-list .list-wrap .list-box {
	width: 100%;
	height: 195px;
	padding: 53px 12px 17px 15px;
}
.popup.verify-winner-list .list-wrap .list-box .search-list {
	padding: 19px 12px 17px 15px;
	top: -43px;
	height: 238px;
	z-index: 2;
	background: rgba(255, 255, 255, 0.95);
}
.popup.verify-winner-list .list-wrap .list-box .search-list .reset {
	position: absolute;
	top: 18px;
	right: 18px;
	width: 18px;
	height: 18px;
	background-size: cover;
	margin: 0;
}
.popup.verify-winner-list .list-wrap .list-box .type-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 53px;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span:first-child {
	width: 253px;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span {
	display: inline-block;
	width: 375px;
	height: 53px;
	line-height: 53px;
	text-align: center;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span img {
	vertical-align: middle;
}
.popup.verify-winner-list .list-wrap .list-box:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 268px;
	top: 53px;
	width: 1px;
	height: 124px;
	background: #f4892f;
}
.popup.verify-winner-list .list-wrap .list-box.rank1:after {
	content: none;
}
.popup.verify-winner-list .list-wrap .list-box .list-block {
	font-size: 0;
	height: 100%;
	display: none;
}
.popup.verify-winner-list .list-wrap .list-box .list-block.is-active {
	display: block;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list {
	display: inline-block;
	vertical-align: top;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list._01 {
	width: 253px;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list._02 {
/*	width: 375px;*/
/*	width: 357px;*/
	width: 354px;
}
.popup.verify-winner-list .list-wrap .list-box.rank1 .list-block .list._01 {
	display: none;
}
.popup.verify-winner-list .list-wrap .list-box.rank1 .list-block .list._02 {
	width: 100%;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list span {
/*	text-align: left;*/
	width: 50%;
	color: #7a7a7a;
	line-height: 28px;
}
.popup.verify-winner-list .list-wrap .list-box .search-list span em {
	color: #f59435;
}

/*
.popup.verify-winner-list .list-wrap .list-box .search-list .list-block {
	display: block;
}
*/
/*
.popup.verify-winner-list .list-wrap .list-box .search-list .list-block .list span {
	display: block;
	text-align: center;
	width: 100%;
}
*/
/* popup */
