body {
	font-size: 0;
}
.header-wrap {
	width: 100%;
/*	height: 112px;*/
	height: 112px;
/*	background: #fff;*/
	background: url(../images/header_mask_bg.png) -592px -1px / 2331px 148px repeat-x;
	will-change: background;
/*	transition: background 0.78s ease-out;*/
	position: fixed;
	top: 0;
	z-index: 5;
/*
	-moz-box-shadow: 0px 1px 15px grey;
	-webkit-box-shadow: 0px 1px 15px grey; 
	box-shadow: 0px 1px 15px grey;
*/
}
.header-wrap .inner {
	position: relative;
	width: 1219px;
	height: 100%;
	font-size: 0;
	margin: 0 auto;
	min-width: 1219px;
	max-width: 1219px;
}
.header-wrap .inner .logo {
/*	padding-top: 41px;*/
	padding-top: 30px;
	display: inline-block;
}
.header-wrap .inner .menu {
	position: absolute;
	right: 0;
/*	top: 48px;*/
	top: 40px;
}
.header-wrap .inner .menu a {
	display: inline-block;
	margin-right: 40px;
	transition: background 0.1s ease;
}
.header-wrap .inner .menu ._1 {
	background: url(../images/head_txt1.png);
	width: 141px;
	height: 17px;
/*	margin-right: 37px;*/
}
.header-wrap .inner .menu ._1.is-active {
	background: url(../images/head_txt1_active.png);
}
.header-wrap .inner .menu ._2 {
	background: url(../images/head_txt2.png);
	width: 140px;
	height: 17px;
/*	margin-right: 41px;*/
}
.header-wrap .inner .menu ._2.is-active {
	background: url(../images/head_txt2_active.png);
}
.header-wrap .inner .menu ._3 {
	background: url(../images/head_txt3.png);
	width: 108px;
	height: 16px;
/*	margin-right: 39px;*/
}
.header-wrap .inner .menu ._3.is-active {
	background: url(../images/head_txt3_active.png);
}
.header-wrap .inner .menu ._4 {
	background: url(../images/head_txt4.png);
	width: 75px;
	height: 16px;
}
.header-wrap .inner .menu ._4.is-active {
	background: url(../images/head_txt4_active.png);
}
.header-wrap .inner .pointer {
	position: absolute;
	background: url(../images/menu_point.png);
	width: 82px;
	height: 12px;
	bottom: 0;
	right: 461px;
}
.section1-wrap {
	/* position: relative; */
	height: 966px;
	background: #e9e1d6;
}
.section1-wrap .inner {
	position: relative;
	/* width: 1265px; */
	width: 1612px;
	height: 100%;
	margin: 0 auto;
	/* padding-top: 105px; */
	margin-top: 217px;
}
.section1-wrap .inner .title {
	position: relative;
	background: url(../images/section1_title.png);
	width: 779px;
	height: 225px;
	margin: 0 auto;
	z-index: 2;
	/* margin-top: 105px; */
}
.section1-wrap .inner .button {
	position: relative;
	margin-top: 20px;
	text-align: center;
	z-index: 3;
}
.section1-wrap .inner .button .btn-message {
	position: relative;
}
/* .section1-wrap .inner .button button {
	background: url(../images/btn_message.png);
	width: 402px;
	height: 136px;
} */
.section1-wrap .inner .button button .pencil {
	position: absolute;
	top: 17px;
/*	margin-left: 100px;*/
	right: 26px;
	-webkit-animation-name: move-icon;
	animation-name: move-icon;
	-webkit-animation-duration: 1300ms;
		animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	animation-direction: alternate;
}
@-webkit-keyframes move-icon {
	0% {
		transform: translate(0, 0);
	  }
	
	  100% {
		transform: translate(13px, 0);
	  }
}

.section1-wrap .inner .info {
	position: relative;
	display: inline-block;
	margin: -35px 0 0 203px;
	z-index: 3;
}
.section1-wrap .inner .info .txt {
	background: url(../images/section1_info_txt.png);
	width: 348px;
	height: 121px;
}
.section1-wrap .inner .info .button button {
	background: url(../images/btn_info.png);
	width: 130px;
	height: 31px;
}
.section1-wrap .inner .village {
	position: absolute;
	background: url(../images/section1_village.png);
	width: 1612px;
	height: 471px;
	bottom: 0;
}
.section1-wrap .inner .village .mini-maumbot {
	position: absolute;
	background: url(../images/mini_maumbot.png);
	width: 66px;
	height: 124px;
	bottom: 42px;
	left: 620px;
}
.section1-wrap .inner .maumbot {
	position: absolute;
	display: inline-block;
	bottom: 0;
	right: 121px;
}
.section1-wrap .inner .maumbot .bot {
	/* position: absolute; */
	background: url(../images/maumbot.png);
	width: 735px;
	height: 650px;
}
.section1-wrap .inner .maumbot .chat {
	position: absolute;
	background: url(../images/chat_balloon.png);
	width: 280px;
	height: 223px;
	right: 23px;
	top: -41px;
}
/* .section1-wrap .inner .maumbot button {
	position: absolute;
	background: url(../images/kit_more.png);
	width: 123px;
	height: 54px;
	right: 5px;
	top: -45px;
	z-index: 4;
} */
.section1-wrap .inner .maumbot button {
	position: absolute;
	right: 5px;
	top: -45px;
	z-index: 4;
}
.section1-wrap .inner .maumbot button .plus {
	-webkit-animation-name: bounce-icon;
	        animation-name: bounce-icon;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	will-change: transform;
}
.section1-wrap .inner .maumbot button .plus:hover {
	-webkit-animation-name: rotate-icon;
	        animation-name: rotate-icon;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}
@-webkit-keyframes rotate-icon {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes rotate-icon {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes bounce-icon {
	0%, 100%, 20%, 53%, 80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%,
	43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		-webkit-transform: translate3d(0, -8px, 0);
		transform: translate3d(0, -8px, 0)
	}
	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0)
	}
}
@keyframes bounce-icon {
	0%, 100%, 20%, 53%, 80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%,
	43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		-webkit-transform: translate3d(0, -8px, 0);
		transform: translate3d(0, -8px, 0)
	}
	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0)
	}
}
.section1-wrap .inner .maumbot button .txt {
	margin: 6px 0 0 -3px;
}
.section1-wrap .inner .bg-cloud {
	position: absolute;
	background: url(../images/bg_cloud.png);
	width: 1920px;
	height: 498px;
	bottom: 0;
	/* right: 23px;
	top: -41px; */
}
.section1-wrap .inner .share {
	position: absolute;
	bottom: 0;
	left: 202px;
}
.section1-wrap .inner .share .kakao {
	background: url(../images/btn_kakao.png);
	width: 48px;
	height: 47px;
	margin-right: 10px;
}
.section1-wrap .inner .share .story {
	background: url(../images/btn_story.png);
	width: 48px;
	height: 48px;
	margin-right: 10px;
}
.section1-wrap .inner .share .facebook {
	background: url(../images/btn_facebook.png);
	width: 49px;
	height: 47px;
}
.section1-wrap .inner .share .share-txt {
	background: url(../images/share_txt.png);
	width: 192px;
	height: 12px;
	margin: 12px 0 38px 0;
}
.section1-wrap .inner .cloud {
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	top: -112px;
	left: 50%;
	margin-left: -401px;
	width: 802px;
	height: 476px;
	text-align: center;
}
.section1-wrap .inner .cloud ._1 {
	position: absolute;
	background: url(../images/section1_cloud1.png);
	width: 98px;
	height: 42px;
	display: inline-block;
	margin: 318px 0 0 255px;
}
.section1-wrap .inner .cloud ._2 {
	position: absolute;
	background: url(../images/section1_cloud2.png);
	width: 86px;
	height: 39px;
	display: inline-block;
	margin: 386px 0 0 195px;
}
.section1-wrap .inner .cloud ._3 {
	position: absolute;
	background: url(../images/section1_cloud3.png);
	width: 154px;
	height: 74px;
	display: inline-block;
	margin: 20px 0 0 -77px;
}
.section1-wrap .inner .cloud ._4 {
	position: absolute;
	background: url(../images/section1_cloud4.png);
	width: 138px;
	height: 65px;
	display: inline-block;
	margin: 191px 0 0 -390px;
}
.section1-wrap .inner .cloud ._5 {
	position: absolute;
	background: url(../images/section1_cloud5.png);
	width: 110px;
	height: 52px;
	display: inline-block;
	margin: 276px 0 0 -449px;
}
.section1-wrap .inner .cloud ._6 {
	position: absolute;
	background: url(../images/section1_cloud6.png);
	width: 86px;
	height: 44px;
	display: inline-block;
	margin: 458px 0 0 -221px;
}
.section2-wrap {
	/* position: relative; */
	height: 1761px;
	/* background: #fbc169; */
	background: url(../images/section2_bg.png) no-repeat center 0;
	/* width: 1920px;  */
	background-size: cover;
}
.section2-wrap .inner {
	position: relative;
/*	width: 1687px;*/
	height: 100%;
	margin: 0 auto;
}
.section2-wrap .inner .pointer {
	background: url(../images/section2_point.png);
	width: 225px;
	height: 33px;
	margin: 0 auto;
}
.section2-wrap .inner .card {
	background: url(../images/section2_card1.png);
	width: 153px;
	height: 132px;
	margin: 0 auto;
	margin-top: 19px;
}
.section2-wrap .inner .title {
	background: url(../images/section2_title.png);
	width: 449px;
	height: 113px;
	margin: 0 auto;
	margin-top: 27px;
	/* margin-bottom: 30px; */
}
.section2-wrap .inner .maumbot {
	position: relative;
	text-align: center;
	width: 953px;
	height: 352px;
	margin: 0 auto;
	margin-top: -26px;
}
.section2-wrap .inner .maumbot .bot {
	position: absolute;
	background: url(../images/maumbot_letter.png);
	width: 505px;
	height: 368px;
	left: 303px;
	bottom: -74px;
	/* display: inline-block; */
}
.section2-wrap .inner .maumbot .chat1 {
	position: absolute;
	background: url(../images/section2_chat1.png);
	width: 256px;
	height: 211px;
	left: 57px;
	bottom: 16px;
	/* display: inline-block; */
}
.section2-wrap .inner .maumbot .chat2 {
	position: absolute;
	background: url(../images/section2_chat2.png);
	width: 278px;
	height: 229px;
	right: -56px;
	top: -7px;
	/* display: inline-block; */
}
.section2-wrap .inner .slider {
	position: relative;
	text-align: center;
	font-size: 0;
}
.section2-wrap .inner .slider .slder-area {
	position: relative;
	width: 1513px;
	margin: 0 auto;
	display: inline-block;
}
.section2-wrap .inner .slider .slide{
	display: inline-block;
	margin-left: 22px;
	width: 285px;
}
.section2-wrap .inner .slider .slide:first-child{
	margin-left: 0;
}
.section2-wrap .inner .slider .slide img {
	width: 100%;
}
.section2-wrap .inner .slider .prev-button {
	position: absolute;
	/* left: -27px; */
	left: 90px;
	top: 50%;
	margin-top: -57px;
}
.section2-wrap .inner .slider .prev-button button {
	background: url(../images/prev_slide.png);
	width: 114px;
	height: 114px;
}
.section2-wrap .inner .slider .next-button {
	position: absolute;
	/* right: -27px; */
	right: 90px;
	top: 50%;
	margin-top: -57px;
}
.section2-wrap .inner .slider .next-button button {
	background: url(../images/next_slide.png);
	width: 114px;
	height: 114px;
}
.section2-wrap .inner .swipe-message {
	background: url(../images/swipe_message.png);
	width: 424px;
	height: 99px;
	margin: 0 auto;
	margin-top: 50px;
}
.section3-wrap {
	position: relative;
	background: url(../images/section3_bg.png) no-repeat center 0;
	/* width: 1920px; */
/*	height: 1952px;*/
	background-size: cover;
	margin-bottom: -343px;
}
.section3-wrap .inner {
/*	position: absolute;*/
	position: relative;
	width: 1230px;
/*	height: 2295px;*/
	margin: 0 auto;
	background: #fff;
/*	left: 50%;*/
/*	margin-left: -615px;*/
	top: -343px;
	padding: 154px 0 144px;
}
.section3-wrap .inner .maumbot-insta {
	position: absolute;
	background: url(../images/maumbot_insta.png);
	width: 232px;
	height: 212px;
	left: 50%;
	top: -75px;
	margin-left: -82px;
}
.section3-wrap .inner .title {
	background: url(../images/section3_title.png);
	width: 734px;
	height: 193px;
	margin: 0 auto;
	margin-top: 18px;
}
.section3-wrap .inner .info {
	position: relative;
	background: url(../images/section3_info.png);
	width: 992px;
	height: 610px;
	margin: 0 auto;
	margin-top: 57px;
}
.section3-wrap .inner .info .button {
	position: absolute;
	top: 55px;
	right: 102px;

}
.section3-wrap .inner .btn-verify {
	display: block;
	margin: 57px auto 0;
}
.section3-wrap .inner .info .button button {
	background: url(../images/btn_winner.png);
	width: 126px;
	height: 33px;
}
.section4-wrap {
	position: relative;
	background: url(../images/section4_bg.png) no-repeat center 0;
	/* width: 1920px; */
	height: 2106px;
	background-size: cover;
}
.section4-wrap .inner {
	position: relative;
	width: 947px;
	height: 100%;
	margin: 0 auto;
	/* background: #fff; */
	/* left: 50%;
	margin-left: -615px;
	top: -343px; */
}
.section4-wrap .inner .pointer {
	background: url(../images/section4_point.png) no-repeat center;
	width: 225px;
	height: 33px;
	margin: 0 auto;
}
.section4-wrap .inner .title {
	background: url(../images/section4_title.png);
	width: 562px;
	height: 360px;
	margin: 0 auto;
	margin-top: 49px;
}
.section4-wrap .inner .list {
	width: 965px;
	/* height: 360px; */
	margin: 0 auto;
	margin-top: 72px;
}
.section4-wrap .inner .list ul li {
	position: relative;
	float: left;
	margin-left: 14px;
}
.section4-wrap .inner .list ul .no-margin {
	margin-left: 0px;
}
.section4-wrap .inner .list ul li .button {
	position: absolute;
	bottom: 39px;
	left: 50%;
	margin-left: -78px;
}
.section4-wrap .inner .list ul li .button button {
	background: url(../images/btn_past.png);
	width: 156px;
	height: 52px;
}
.footer-wrap {
	position: absolute;
	/* background: #000; */
	background-color:rgb(204,153,102,0.2);
	opacity: 0.2;
	width: 100%;
	height: 189px;
	bottom: 0;
	text-align: center;
}
.footer-wrap .copyright {
	background: url(../images/copyright.png);
	width: 521px;
	height: 17px;
	display: inline-block;
	margin-top: 86px;
}
