@charset 'utf-8';

 @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 

/*
@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR-Thin.eot), url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR-Light.eot), url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR-DemiLight.eot), url(../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular.eot), url(../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR-Medium.eot), url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR-Bold.eot), url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
*/


/* common */
html {
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
	/* overflow-y: auto; */
}
html, body {
	height: 100%;
}
body {
	background: #e9e1d6;
	color: #333333;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-family: "Noto Sans KR", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
	font-weight: 400;
	-webkit-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	overflow-x: hidden;

}
input[type="text"],
input[type="tel"],
button {
	font-family: "Noto Sans KR", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button {
	cursor: pointer;
	outline: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
img {
	width: 100%;
}
iframe {
	display: block;
}
.blind {
	position: absolute; display: block; width: 1px; height: 1px; overflow: hidden; color: transparent; font-size: 1px; line-height: 1px; opacity: 0; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; filter: alpha(opacity=0);
}

.header-wrap {
	width: 100%;
	height: 37px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	/*
	-moz-box-shadow: 0px 1px 15px grey;
	-webkit-box-shadow: 0px 1px 15px grey; 
	box-shadow: 0px 1px 15px grey;
	*/
}
.header-wrap .inner {
	position: relative;
	height: 100%;
	font-size: 0;
	margin: 0 0 0 16px;
}
.header-wrap .inner .logo {
	position: absolute;
	top: 10px;
	left: 0;
	width: 78px;
}
.header-wrap .inner .burger {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px 16px;
	cursor: pointer;
}
.header-wrap .inner .burger span {
	display: block;
	width: 25px;
	height: 3px;
	background: #f68b1f;
	border-radius: 4px;
}
.header-wrap .inner .burger span.mid {
	margin: 2px 0;
}
/* common */

/* popup */
.menu-opened .menu-layer {
	transform: translateY(0);
	opacity: 1;
}
.menu-layer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	transform: translateY(-105%);
	opacity: 0;
	transition: all 0.76s ease-in;
}
.menu-layer .inner {
	position: relative;
	padding: 77px 0 37px;
	background: #f7f6f4;
	text-align: center;
}
.menu-layer .inner .menu-close {
	width: 25px;
	height: 24px;
	background: url(../images/menu_close.png) 0 0 / 25px 24px no-repeat;
	margin-bottom: 38px;
}
.menu-layer .menu-list {
	padding: 0 37px;
	margin-bottom: 35px;
}
.menu-layer .menu-list li {
	display: block;
	position: relative;
}
.menu-layer .menu-list li:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background: rgba(71, 55, 31, 0.2);
}
.menu-layer .menu-list li:last-child:after {
	content: none;
}
.menu-layer .menu-list li a {
	display: inline-block;
	padding: 20px 0;
}
/*.menu-layer .menu-list li._1.is-active {background: url(../images/head_txt1_active.png);}*/
.menu-layer .share-list {
	font-size: 0;
}
.menu-layer .share-list li {
	display: inline-block;
	margin-right: 7px;
}
.menu-layer .share-list li button {
	display: block;
	width: 33px;
	height: 32px;
}
.menu-layer .share-list li .ks {background: url(../images/share_ks.png) center / 33px 32px no-repeat;}
.menu-layer .share-list li .kt {background: url(../images/share_kt.png) center / 33px 32px no-repeat;}
.menu-layer .share-list li .fb {background: url(../images/share_fb.png) center / 33px 32px no-repeat;}
.menu-layer .share-guide {
	width: 131px;
	margin-top: 12px;
}
.menu-layer .box-point {
	position: absolute;
	width: 133px;
	height: 22px;
	left: 50%;
	margin-left: -66px;
	bottom: -17px;
	background: url(../images/menu_box_point.png) 0 0 / 133px 22px no-repeat;
}

html.menu-opened,
html.popup-opened {
	/* overflow: hidden; */
}
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgb(19, 23, 26);
	background: rgba(19, 23, 26, 0.26);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}
.popup-wrap, .popup {
	display: none;
}
.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup {
	width: 312px;
	position: relative;
/*	margin: 30px;*/
	vertical-align: middle;
	/*	line-height: 100%;*/
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	font-size: 16px;
/*
	-webkit-transform: scale(0);
	transform: scale(0);
*/
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	box-shadow: 0px 0px 18px 1px #666;
}
.popup-wrap.is-opened .popup::before {
	transform: scale(1);

}
.popup .popup-close {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(../images/popup_close.png) center / 15px 15px no-repeat;
}
.popup .button-area {
	cursor: pointer;
}
.popup > .inner {
	background: #fff;
}
.popup.kitlist {
	text-align: center;
}
.popup.kitlist .inner {
	padding: 30px 0 46px;
	background: url(../images/popup_kitlist_bg.jpg) center / cover no-repeat;
}
.popup.kitlist .title {
	width: 247px;
	margin: 0 auto 12px;
}
.popup.kitlist .kit-slide-area {
	position: relative;
	display: block;
	width: 262px;
	margin: 0 auto;
}
.popup.kitlist .kit-slide-area .visual {
	width: 210px;
/*	height: 210px;*/
	margin: 0 auto;
	overflow: hidden;
}
.popup.kitlist .kit-slide {
	width: 210px;
}
.popup.kitlist .kit-slide-area .visual img {
	width: 100%;
}
.popup.kitlist .kit-slide-area .btn {
	position: absolute;
	top: 50%;
	width: 26px;
	margin-top: -26px;
}
.popup.kitlist .kit-slide-area .prev-button {
	left: 0;
}
.popup.kitlist .kit-slide-area .next-button {
	right: 0;
}
.popup.kitlist .slide-list {
	display: inline-block;
	margin-top: 12px;
}
.popup.kitlist .slide-list li {
	display: inline-block;
	position: relative;
	width: 19px;
	height: 19px;
	margin-right: 4px;
}
.popup.kitlist .slide-list li.is-active {
	box-shadow: 0px 0px 0px 2px rgb(247, 159, 86);
	border-radius: 1px;

}
/*
.popup.kitlist .slide-list li.is-active:after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
*/
.popup.kitlist .slide-list li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popup.kitlist .slide-list li:last-child {
	margin-right: 0;
}

.popup.picture {
	text-align: center;
}
.popup.picture > .inner {
	padding: 30px 0;
	background: url(../images/popup_kitlist_bg.jpg) center / cover no-repeat;
}
.popup.picture .title {
	display: inline-block;
	width: 245px;
}
.popup.picture .pic-frame {
	position: relative;
	width: 233px;
	min-height: 130px;
	margin: 20px auto 13px;
	background: url(../images/frame_tl.png) 0 0 / 7px 7px no-repeat,
		url(../images/frame_tr.png) 100% 0 / 7px 7px no-repeat,
		url(../images/frame_br.png) 100% 100% / 7px 7px no-repeat,
		url(../images/frame_bl.png) 0 100% / 7px 7px no-repeat;
}
.popup.picture .pic-frame .inner {
	padding: 8px;
	width: 100%;
	height: 100%;
	position: relative;
}
.popup.picture .pic-frame #file-upload {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.popup.picture .pic-frame label {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.popup.picture .re-upload-btn {
	position: relative;
	width: 47px;
	margin: 0 auto;
}
.popup.picture .re-upload-btn #re-upload {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.popup.picture .re-upload-btn label {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.popup.picture .btn {
	display: block;
	width: 151px;
	margin: 15px auto 0;
}

.popup.picture-input > .inner {
	padding: 30px 0;
	text-align: center;
	background: #f7f6f4;
}
.popup.picture-input .title {
	display: inline-block;
	width: 247px;
}
.popup.picture-input .input-area {
	width: 232px;
	margin: 12px auto 17px;
}
.popup.picture-input .input-area .input-group {
	width: 100%;
	position: relative;
	font-size: 0;
	height: 24px;
	margin-bottom: 4px;
	text-align: right;
	/*	overflow-x: hidden;*/
}
.popup.picture-input .input-area .input-group:last-child {
	margin-bottom: 0;
}
.popup.picture-input .input-area .input-group .guide {
	display: inline-block;
	position: relative;
	width: 26.9%;
	/*	width: 84px;*/
	height: 24px;
	background: #f4892f;
	text-align: center;
	vertical-align: top;
}
.popup.picture-input .input-area .input-group .guide img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.popup.picture-input .input-area .input-group.name .guide img {width: 39px;}
.popup.picture-input .input-area .input-group.phone .guide img {width: 39px;}

.popup.picture-input .input-area .input-group .input {
	display: inline-block;
	width: 73.1%;
	height: 100%;
	vertical-align: top;
}
.popup.picture-input .input-area .input-group.phone .input input[type="tel"] {
	width: 31%;
	margin-right: 3%;
	text-align: center;
	padding-left: 0;
}
.popup.picture-input .input-area .input-group.phone .input input[type="tel"]:last-child {
	width: 32%;
	margin-right: 0;
}
.popup.picture-input .input-area .input-group .input input[type="text"],
.popup.picture-input .input-area .input-group .input input[type="tel"] {
	width: 100%;
	height: 100%;
	padding-left: 18px;
	text-align: left;
	vertical-align: middle;
	font-size: 11px;
	font-weight: 500;
	color: #3e301d;
	background: #ffffff;
	cursor: pointer;
}

.popup.picture-input .terms-area {
	width: 192px;
	margin: 0 auto 16px;
/*	margin-bottom: 16px;*/
/*	padding-left: 10px;*/
}
.popup.picture-input .terms-area .row {
	overflow: hidden;
	position: relative;
	margin-bottom: 11px;
	text-align: left;
}
.popup.picture-input .terms-area .row:last-child {
	margin-bottom: 0;
/*	padding-right: 10px;*/
}
.popup.picture-input .terms-area .check {
	font-size: 0;
	margin-bottom: 5px;
}
.popup.picture-input .terms-area .view {
	display: inline-block;
	padding-left: 23px;
}
.popup.picture-input .terms-area .view.last {
	margin-left: 11px;
}
.popup.picture-detail > .inner {
	padding: 40px 15px 31px;
}
.popup.picture-detail .img-area {
	margin-bottom: 9px;
}
.popup.picture-detail .img-area img {
	width: 100%;
}
.popup.picture-detail .txt-area {
	margin-bottom: 6px;
}
.popup.picture-detail .txt-area .name {
	border-bottom: 1px solid #3e301d;
	padding-bottom: 8px;
	font-size: 19px;
	color: #3e301d;
	letter-spacing: -0.65px;
}
.popup.picture-detail .txt-area .text {
	padding-top: 9px;
	font-size: 10px;
}
.popup.picture-detail .txt-area .text .tag {
	color: #00b4ff;
	margin-bottom: 3px;
	font-size: 0;
}
.popup.picture-detail .txt-area .text .tag span {
	display: inline-block;
	font-size: 10px;
	margin-right: 2px;
	letter-spacing: -0.65px;
	line-height: 12px;
}
.popup.picture-detail .txt-area .text .desc {
	color: #3e301d;
	letter-spacing: -0.65px;
	line-height: 12px;
}
input[type="checkbox"] {
	position: absolute;
	/*
	top: 2px;
	right: 5px;
	*/
	font-size: 0;
	cursor: pointer;
	background: none;
	border: 0;
	/*	z-index: 3;*/
	/*
	width: 13px;
	height: 13px;
	*/
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: none;
}
input[type="checkbox"]:focus {
	outline: 0;
	background: none;
}
.check .checkbox-visual {
	width: 100%;
	height: 100%;
	border: 2px solid #3e301d;
	background: #ffffff;
}
.check input[type="checkbox"]:checked + .checkbox-visual {
	background: url(../images/checked.png) center / 10px 8px no-repeat;
}
.popup.picture-input .terms-area .check .checkbox {
	width: 14px;
	height: 14px;
	pointer-events: none;
	/* 체크박스 크기는 수정 했음 */
}
.popup.picture-input .terms-area .check .checkbox-visual {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: top;
}
.popup.picture-input .check input[type="checkbox"]:checked + .checkbox-visual {
	background: url(../images/checked.png) center / 10px 8px no-repeat #ffffff;
}
.popup.picture-input .terms-area .check label {
	display: inline-block;
	width: 161px;
	margin-left: 14px;
	padding-top: 2px;
	vertical-align: top;
	cursor: pointer;
}
.popup.picture-input .terms-area .row._2 .check label {
	width: 151px;
}
.popup.picture-input .terms-area .row .view button {
	width: 167px;
	height: 14px;
	background: url(../images/popup_picinput_terms1.jpg) center / cover no-repeat #e3d7c4;	
}
.popup.picture-input .terms-area .row._2 .view button {
	background: url(../images/popup_picinput_terms2.jpg) center / cover no-repeat #e3d7c4;
}
.popup.picture-input .input-area .input-group .input input::-webkit-input-placeholder {
	color: #9e978e;
	font-size: 11px;
	letter-spacing: -0.5px;
}
.popup.picture-input .input-area .input-group .input input:-ms-input-placeholder {
	color: #9e978e;
	font-size: 11px;
	letter-spacing: -0.5px;
}
.popup.picture-input .input-area .input-group .input input::placeholder {
	color: #9e978e;
	font-size: 11px;
	letter-spacing: -0.5px;
}
.popup.picture-input .btn {
	width: 121px;
}
.popup.picture-result .inner {
	text-align: center;
}
.popup.picture-result .title {
	display: inline-block;
	width: 247px;
	margin-top: 30px;
}
.popup.picture-result .btn {
	width: 121px;
	margin: 13px auto 21px;
}
.popup .guide-block {
	background: #e3d7c4;
	padding: 12px 0 14px;
}
.popup .guide-block img {
	width: 197px;
}
.popup.agree .inner {
	padding: 30px 0;
	text-align: center;
}
.popup.agree .text {
	display: inline-block;
	width: 265px;
	margin-bottom: 24px;
}
.popup.agree .btn {
	width: 107px;
}
.popup.winner-list {
/*	width: 542px;*/
	text-align: center;
}
.popup.winner-list > .inner {
	padding: 30px 0 0 0;
	background: #f7f6f4;
}
.popup.winner-list .title {
	margin-bottom: 12px;
}
.popup.winner-list .title img {
	width: 248px;
}
.popup.winner-list .input-wrap {
	display: inline-block;
	margin-bottom: 13px;
}
.popup.winner-list .input-wrap .input-group {
	width: 164px;
	position: relative;
}
.popup.winner-list .input-wrap .input-group input[type="text"] {
	width: 100%;
	height: 21px;
	background: #ffffff;
	padding-left: 14px;
}
.popup.winner-list .input-wrap .input-group .search-num {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 21px;
	background: url(../images/find_obj.png) center / 15px auto no-repeat #f4892f;
}
.popup.winner-list .list-box {
	display: inline-block;
	width: 164px;
	height: 91px;
	padding: 11px 8px 11px 12px;
	background: #ffffff;
	box-sizing: border-box;
	position: relative;
}
.popup.winner-list .list-box .inner {
	height: 100%;
	overflow: scroll;
	text-align: left;
	font-size: 0;
}
.popup.winner-list .list-box .search-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	padding: 11px 8px 11px 12px;
	box-sizing: border-box;
	overflow: scroll;
	text-align: left;
	font-size: 0;
	display: none;
	background: #ffffff;
}
.popup.winner-list .list-box span {
	width: 50%;
	display: inline-block;
	font-size: 11px;
	letter-spacing: -0.27px;
	text-align: center;
	line-height: 14px;
	color: #7a7a7a;
}
.popup.winner-list .btn {
	width: 121px;
	height: 32px;
	margin: 8px auto 20px;
}
.popup.winner-list .guide-area {
	background: #e3d7c4;
	padding: 14px 0 16px;
}
.popup.winner-list .guide-area img {
	width: 178px;
}

.popup.verify-winner-list {
/*	width: 759px;*/
}
.popup.verify-winner-list .input-wrap {
	margin-bottom: 13px;
}
.popup.verify-winner-list .list-wrap {
	width: 263px;
	margin: 0 auto 16px;
	/*	padding-top: 43px;*/
}
.popup.verify-winner-list .list-wrap .tab-wrap {
	text-align: center;
	font-size: 0;
}
.popup.verify-winner-list .list-wrap .tab-wrap .tab {
	display: inline-block;
	opacity: 0.4;
	cursor: pointer;
	width: 78px;
}
.popup.verify-winner-list .list-wrap .tab-wrap .tab.is-active {
	opacity: 1;
}
.popup.verify-winner-list .list-wrap .tab-wrap .tab:nth-child(2) {
	margin: 0 2px;
}
.popup.verify-winner-list .list-wrap .list-box {
	width: 100%;
	height: 198px;
	padding: 29px 0 11px 0;
}
.popup.verify-winner-list .list-wrap .list-box .search-list {
	padding: 29px 8px 11px 12px;
	top: -24px;
	height: 221px;
	z-index: 2;
	background: rgba(255, 255, 255, 0.95);
}
.popup.verify-winner-list .list-wrap .list-box .search-list .reset {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 12px;
	height: 12px;
	background-size: cover;
	margin: 0;
}
.popup.verify-winner-list .list-wrap .list-box .type-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 23px;
	font-size: 0;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span:first-child {
	width: 114px;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span {
	display: inline-block;
	width: 149px;
	height: 23px;
	line-height: 23px;
	text-align: center;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span:first-child img {
	width: 74px;
}
.popup.verify-winner-list .list-wrap .list-box .type-block span img {
	width: 62px;
	height: 10px;
	vertical-align: middle;
}
.popup.verify-winner-list .list-wrap .list-box:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 114px;
	top: 35px;
	width: 1px;
	height: 153px;
	background: #f4892f;
}
.popup.verify-winner-list .list-wrap .list-box.rank1:after {
	content: none;
}
.popup.verify-winner-list .list-wrap .list-box .list-block {
	font-size: 0;
	height: 100%;
	display: none;
}
.popup.verify-winner-list .list-wrap .list-box .list-block.is-active {
	display: block;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list {
	display: inline-block;
	vertical-align: top;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list._01 {
	width: 114px;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list._02 {
	width: 149px;
}
.popup.verify-winner-list .list-wrap .list-box.rank1 .list-block .list._01 {
	display: none;
}
.popup.verify-winner-list .list-wrap .list-box.rank1 .list-block .list._02 {
	width: 100%;
}
.popup.verify-winner-list .list-wrap .list-box .list-block .list span {
	/*	text-align: left;*/
	width: 100%;
	color: #7a7a7a;
	line-height: 20px;
}
.popup.verify-winner-list .list-wrap .list-box .search-list span {
	line-height: 20px;
}
.popup.verify-winner-list .list-wrap .list-box .search-list span em {
	color: #f59435;
}
.popup.verify-winner-list .guide-area img {
	width: 253px;
}
.popup.verify-winner-list .title img {
	width: 279px;
}
/* popup */
