body {
	font-size: 0;
}
img {
	width: 100%;
}
input[type="checkbox"] {
	position: absolute;
/*
	top: 2px;
	right: 5px;
*/
	font-size: 0;
	cursor: pointer;
	background: none;
	border: 0;
/*	z-index: 3;*/
/*
	width: 13px;
	height: 13px;
*/
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: none;
}
input[type="checkbox"]:focus {
	outline: 0;
	background: none;
}
.page-wrap.sub {
	background: url(../images/sub_bg.jpg) center bottom / cover no-repeat;
	width: 100%;
	height: 100%;
	padding: 37px 0 0 0;
}
.content {
	position: relative;
	padding: 14px 29px;
}
.content.sub .copyright {
	width: 316px;
	margin: 30px auto 0;
}
.content.sub1 {
/*	padding: 14px 29px;*/
}
.content.sub1 .step {
	width: 80px;
	margin: 0 auto;
}
.content.sub2 .step {
	width: 64px;
	margin: 0 auto;
}
.content.sub3 .step {
	width: 63px;
	margin: 0 auto;
}
.content.sub1 > .title {
	width: 276px;
	margin: 14px auto 25px;
}
.content.sub2 > .title {
	width: 253px;
	margin: 14px auto 6px;
}
.content.sub3 > .title {
	width: 260px;
	margin: 14px auto 18px;
}
.content.sub1 .video-area {
	box-shadow: 1px 8px 22px 0px rgba(66, 66, 66, 0.6);
}
.content.sub1 .btn-wrap {
	position: relative;
	width: 219px;
	margin: 44px auto 0;
}
.content.sub1 .btn-wrap .btn {
	width: 100%;
}
.content.sub1 .btn-wrap .msg {
	position: absolute;
	top: -76px;
	right: -46px;
	width: 101px;
	height: 81px;
	background: url(../images/sub1_balloon.png) 0 0 / cover no-repeat;
}
.content.sub2 .slide-wrap {
	position: relative;
	width: 226px;
	margin: 0 auto;
}
.content.sub2 .slider {
/*	width: 226px;*/
/*	margin: 0 auto;*/
	position: relative;
	box-shadow: 2px 7px 26px 2px rgba(190, 178, 161, 0.6);
}
.content.sub2 .slide-area .pager {
	text-align: center;
	font-size: 0;
	margin-bottom: 6px;
}
.content.sub2 .slide-area .pager a {
	display: inline-block;
	padding: 5px;
	font-size: 11px;
	font-weight: 700;
	color: #b6ad9e;
}
.content.sub2 .slide-area .pager a.is-active {
	color: #3e301d;
}
.slider .slick-arrow {
	width: 58px;
	height: 58px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.slider .slick-arrow.slick-prev {
	background: url(../images/slider_arrow_prev.png) center / cover no-repeat;
	right: 100%;
	font-size: 0;
}
.slider .slick-arrow.slick-next {
	background: url(../images/slider_arrow_next.png) center / cover no-repeat;
	left: 100%;
	font-size: 0;
}
.content.sub2 .slide-wrap .letter-paper {
	width: 184px;
	height: 232px;
	position: absolute;
	top: 79px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../images/sub2_letter_paper.png) center / cover no-repeat;
	z-index: 1;
}
.content.sub2 .slide-wrap .text-area {
	position: absolute;
	top: 85px;
	left: 50%;
	transform: translateX(-50%);
	margin-left: 4px;
	width: 168px;
	height: 200px;
	z-index: 2;
}
.content.sub2 .slide-wrap .bot {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 150px;
	z-index: 3;
}
.content.sub2 .slide-wrap .bot span {
	display: block;
	margin: 0 0 0 auto;
}
.content.sub2 .slide-wrap .bot._0 span {width: 118px;height: 99px; background: url(../images/sub2_bot1.png) 0 0 / 118px 99px no-repeat;}
.content.sub2 .slide-wrap .bot._1 span {width: 124px;height: 98px; background: url(../images/sub2_bot2.png) 0 0 / 124px 98px no-repeat;}
.content.sub2 .slide-wrap .bot._2 span {width: 150px;height: 104px; background: url(../images/sub2_bot3.png) 0 0 / 150px 104px no-repeat;}
.content.sub2 .slide-wrap .bot._3 span {width: 118px;height: 99px; background: url(../images/sub2_bot4.png) 0 0 / 118px 99px no-repeat;}
.content.sub2 .slide-wrap .bot._4 span {width: 124px;height: 105px; background: url(../images/sub2_bot5.png) 0 0 / 124px 105px no-repeat;}
.content.sub2 .slide-wrap .text-area .text-line.headline {
	text-align: center;
}
.content.sub2 .slide-wrap .text-area .text-line:first-child {
	padding-top: 22px;
	margin-bottom: 7px;
}
.content.sub2 .slide-wrap .text-area .text-line:last-child {
	padding-top: 2px;
}
.content.sub2 .slide-wrap .text-area .text-line.headline > span {
	color: #fa5266;
	font-size: 15px;
	font-weight: 700;
	display: inline-block;
/*	margin-right: 3px;*/
}
.content.sub2 .slide-wrap .text-area .text-line.headline input[type="text"] {
	width: 80px;
	font-size: 15px;
	font-weight: 700;
/*	text-align: left;*/
}
.content.sub2 .slide-wrap .text-area .text-line {
	margin-bottom: 6px;
}
.content.sub2 .slide-wrap .text-area .text-line input[type="text"] {
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #b6ad9e;
	letter-spacing: -0.45px;
	display: inline-block;
}
.content.sub2 .slide-wrap .text-area .text-line input[type="text"]::placeholder {
	color: #b6ad9e;
}
.content.sub2 .btn {
	display: block;
	width: 219px;
	margin: 35px auto 0;
}
/*
.sub-wrap .inner .letter-paper {
	background: url(../images/letter_paper.png) 0 0 / cover no-repeat;
	width: 205px;
	height: 281px;
	position: absolute;
	top: 58px;
	left: 18px;
	z-index: 3;
}
.sub-wrap .inner .text-area {
	position: absolute;
	width: 176px;
	top: 66px;
	left: 29px;
	z-index: 9;
	text-align: left;
}
.sub-wrap .inner .text-area .text-line {
	position: relative;
	padding: 24px 0 0;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}
.sub-wrap .inner .text-area .text-line.bottom {
	padding: 12px 0 0;
}
.sub-wrap .inner .text-area .text-line span{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}

.sub-wrap .inner .text-area .text-line .input{
	display: inline-block;
	width: 90px;
}
.sub-wrap .inner .text-area .text-line .input input {
	width: 100%;
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line .input input::-webkit-input-placeholder {
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line .input input:-ms-input-placeholder {
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line .input input::placeholder {
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line2 {
	margin-top: 5px;
}
.sub-wrap .inner .text-area .text-line2.first {
}
.sub-wrap .inner .text-area .text-line2 .input {
	width: 156px;
	margin: 0 auto;
}
.sub-wrap .inner .text-area .text-line2 .input input {
	width: 100%;
	font-size: 15px;
	text-align: center;
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line2 .input input::-webkit-input-placeholder {
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line2 .input input:-ms-input-placeholder {
	color: #b6ad9e;
}
.sub-wrap .inner .text-area .text-line2 .input input::placeholder {
	color: #b6ad9e;
}

.sub-wrap .inner .slider-area {
	position: relative;
	text-align: center;
	font-size: 0;
	width: 23.125%;
	max-width: 431px;
	min-width: 431px;
	margin: 0 auto;
	margin-top: 1.458%
}
.sub-wrap .inner .slider-area .slide-wrap {
	position: relative;
	width: 235px;
	margin: 0 auto;
	display: inline-block;
	-webkit-box-shadow: 2px 7px 26px 2px rgba(190, 178, 161, 0.6);
	box-shadow: 2px 7px 26px 2px rgba(190, 178, 161, 0.6);
}
.sub-wrap .inner .slider-area .bot {
	position: absolute;
	height: 105px;
	width: 156px;
	bottom: 0;
	right: 0;
	z-index: 9;
}
.sub-wrap .inner .slider-area .bot span {
	display: block;
	margin: 0 0 0 auto;
}
.sub-wrap .inner .slider-area .bot._0 span {
	background: url(../images/sub_step2_bot_1.png) center / 123px 105px no-repeat;
	width: 123px;
	height: 105px;
}
.sub-wrap .inner .slider-area .bot._1 span {
	background: url(../images/sub_step2_bot_2.png) center / 129px 104px no-repeat;
	width: 129px;
	height: 104px;
}
.sub-wrap .inner .slider-area .bot._2 span {
	background: url(../images/sub_step2_bot_3.png) center / 156px 110px no-repeat;
	width: 156px;
	height: 110px;
}
.sub-wrap .inner .slider-area .bot._3 span {
	background: url(../images/sub_step2_bot_4.png) center / 123px 105px no-repeat;
	width: 123px;
	height: 105px;
}
.sub-wrap .inner .slider-area .bot._4 span {
	background: url(../images/sub_step2_bot_5.png) center / 129px 110px no-repeat;
	width: 129px;
	height: 110px;
}
.sub-wrap .inner .slider-area .prev-button {
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -52px;
	width: 104px;
}
.sub-wrap .inner .slider-area .next-button {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -52px;
	width: 104px;
}
.sub-wrap .inner .btn-area._2 {
	text-align: center;
	margin-top: 1.197%;
}
.sub-wrap .inner .btn-area._2 button{
	width: 18.906%;
}
.sub-wrap .inner .btn-area._3 {
	text-align: center;
	margin-top: 1.7%;
}
.sub-wrap .inner .btn-area._3 button {
	width: 17%;
}
.sub-wrap .inner .btn-area._4 {
	text-align: center;
	margin-top: 3%;
}
.sub-wrap .inner .btn-area._4 button {
	width: 17%;
}

.sub-wrap .inner .select-wrap {
	width: 12.2%;
	margin: 1.4% auto;
	padding-bottom: 1.45%;
	position: relative;
}
.sub-wrap .inner .select-box {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}
.sub-wrap .inner .select-menu {
	position: absolute;
	background: #ffffff;
	top: 100%;
	width: 100%;
	-webkit-transform: scaleY(0.7);
	transform: scaleY(0.7);
	-webkit-transition: opacity 0.25s ease, -webkit-transform 0.35s ease;
	transition: opacity 0.25s ease, -webkit-transform 0.35s ease;
	transition: transform 0.35s ease, opacity 0.25s ease;
	transition: transform 0.35s ease, opacity 0.25s ease, -webkit-transform 0.35s ease;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	opacity: 0;
}
.sub-wrap .inner .select-wrap.is-active .select-menu {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	opacity: 1;
}
.sub-wrap .inner .select-wrap.is-active .select-menu * {
	opacity: 1;
}
.sub-wrap .inner .select-menu ul {
	padding: 5% 0;
}
.sub-wrap .inner .select-menu li {
	padding: 3.8% 0;
}
.sub-wrap .inner .select-menu li .desc {
	margin: 0 auto;
}
.sub-wrap .inner .select-menu li .desc._1 {width: 70%;}
.sub-wrap .inner .select-menu li .desc._2 {width: 66.5%;}
.sub-wrap .inner .select-menu li .desc._3 {width: 77%;}
.sub-wrap .inner .select-menu li .desc._4 {width: 67%;}

.sub-wrap .inner .card-result {
	width: 12.2%;
	margin: 0 auto;
	-webkit-box-shadow: 2px 7px 26px 2px rgba(190, 178, 161, 0.6);
	box-shadow: 2px 7px 26px 2px rgba(190, 178, 161, 0.6);
}

.sub-wrap .inner .select-menu li .check {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 3.38% auto 0;
}
.sub-wrap .inner .select-menu li .check label {
	position: absolute;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sub-wrap .inner .select-menu li .check input[type="checkbox"] {
	width: 100%;
	height: 100%;
}
.check .checkbox-visual {
	width: 100%;
	height: 100%;
	border: 3px solid #3e301d;
	background: #ffffff;
}
.check input[type="checkbox"]:checked + .checkbox-visual {
	background: url(../images/checked.png) center / 16px 14px no-repeat;
}
.sub-wrap .inner .input-area {
	width: 609px;
	margin: 2.8% auto 1.6%;
}
.sub-wrap .inner .input-area .input-group {
	width: 100%;
	position: relative;
	font-size: 0;
	height: 55px;
	margin-bottom: 9px;
	text-align: right;
}
.sub-wrap .inner .input-area .input-group:last-child {
	margin-bottom: 0;
}
.sub-wrap .inner .input-area .input-group .guide {
	display: inline-block;
	position: relative;
	width: 162px;
	height: 55px;
	background: #f4892f;
	text-align: center;
	vertical-align: top;
}
.sub-wrap .inner .input-area .input-group .guide img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.sub-wrap .inner .input-area .input-group.name .guide img {width: 89px;}
.sub-wrap .inner .input-area .input-group.phone .guide img {width: 91px;}
.sub-wrap .inner .input-area .input-group.addr .guide img {width: 89px;transform: translateX(-50%);top: 17px}

.sub-wrap .inner .input-area .input-group .input {
	display: inline-block;
	width: 447px;
	height: 100%;
	vertical-align: top;
}
.sub-wrap .inner .input-area .input-group.phone .input input[type="tel"] {
	width: 142px;
	margin-right: 10px;
	text-align: center;
	padding-left: 0;
}
.sub-wrap .inner .input-area .input-group.phone .input input[type="tel"]:last-child {
	width: 143px;
	margin-right: 0;
}
.sub-wrap .inner .input-area .input-group.addr .guide {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	height: 183px;
}
.sub-wrap .inner .input-area .input-group.addr .input input[type="text"] {
	width: 277px;
}
.sub-wrap .inner .input-area .input-group.addr .input button {
	width: 170px;
	height: 100%;
	vertical-align: middle;
	background: url(../images/sub_step4_input_search.png) center / 77px 17px no-repeat #f0a360;
	cursor: pointer;
}

.sub-wrap .inner .input-area .input-group .input input[type="text"],
.sub-wrap .inner .input-area .input-group .input input[type="tel"] {
	width: 100%;
	height: 100%;
	padding-left: 33px;
	text-align: left;
	vertical-align: middle;
	font-size: 22px;
	font-weight: 500;
	color: #3e301d;
	background: #ffffff;
	cursor: pointer;
}

.sub-wrap .inner .terms-area {
	width: 609px;
	margin: 0 auto;
}
.sub-wrap .inner .terms-area .row {
	overflow: hidden;
	margin-bottom: 11px;
}
.sub-wrap .inner .terms-area .row:last-child {
	margin-bottom: 0;
}
.sub-wrap .inner .terms-area .check {
	float: left;
	padding-top: 4px;
	font-size: 0;
}
.sub-wrap .inner .terms-area .view {
	float: right;
}
.sub-wrap .inner .terms-area .check .checkbox {
	width: 21px;
	height: 21px;
}
.sub-wrap .inner .terms-area .check .checkbox-visual {
	display: inline-block;
	width: 21px;
	height: 21px;
	vertical-align: top;
}
.sub-wrap .inner .check input[type="checkbox"]:checked + .checkbox-visual {
	background: url(../images/checked.png) center / 16px 14px no-repeat #ffffff;
}
.sub-wrap .inner .terms-area .check label {
	display: inline-block;
	width: 279px;
	margin-left: 11px;
	vertical-align: top;
	cursor: pointer;
}
.sub-wrap .inner .terms-area .row._2 .check label {
	width: 261px;
}
.sub-wrap .inner .terms-area .row .view button {
	width: 265px;
	height: 25px;
	background: url(../images/view_terms1.png) center / 185px 15px no-repeat #f7f4ef;	
}
.sub-wrap .inner .terms-area .row._2 .view button {
	background: url(../images/view_terms2.png) center / 169px 15px no-repeat #f7f4ef;
}
.sub-wrap .inner .input-area .input-group .input input::-webkit-input-placeholder {
	color: #9e978e;
	font-size: 22px;
	letter-spacing: -0.5px;
}
.sub-wrap .inner .input-area .input-group .input input:-ms-input-placeholder {
	color: #9e978e;
	font-size: 22px;
	letter-spacing: -0.5px;
}
.sub-wrap .inner .input-area .input-group .input input::placeholder {
	color: #9e978e;
	font-size: 22px;
	letter-spacing: -0.5px;
}
.swiper-pagination-bullet {
	width: auto;
	height: auto;
	background: none;
	opacity: 1;
	margin-right: 7px;
}
.swiper-pagination-bullet:last-child {
	margin-right: 0;
}
.swiper-pagination-bullet-active {
	font-weight: bold;
}
.footer-wrap {
	position: absolute;
	bottom: 36px;
	width: 100%;
	left: 0;
	right: 0;
	min-width: 1200px;
	
}
.footer-wrap .copyright {
	width: 19.791%;
	margin: 0 auto;
}

@media all and (max-height: 800px) {
	html, body {
	}
	.page-wrap {
		height: auto;
	}
	.header-wrap {
		position: static;
	}
	.footer-wrap {
		position: static;
		padding: 5% 0;
	}
	.content.sub {
		display: block;
		table-layout: inherit;
		height: auto;
		padding-top: 2.5%;
	}
	.sub-wrap {
		display: block;
	}
}
*/

@media all and (max-width: 340px) {
	.slider .slick-arrow {
		width: 45px;
		height: 45px;
	}
}